version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10-browsers
      - image: qlikcore/engine:12.260.0
        command: -S AcceptEULA=yes

    working_directory: ~/catwalk

    steps:
      - checkout

      - restore_cache:
          key: npm-dependency-cache-{{ checksum "package.json" }}

      - run:
          name: Install dependencies
          command:
            npm install --quiet

      - run:
          name: Run ESLint
          command:
            npm run lint
      
      - run:
          name: Unit tests
          command:
            npm run test:unit

      - run:
          name: Component tests
          command:
            npm run test:comp

      - run:
          name: E2E tests
          command: |
            DocID=$(curl -s --data-binary @data/drugcases.qvf http://localhost:9076/v1/apps/import | jq -r '.attributes.id')
            nohup npx parcel src/index.html &
            sleep 5
            DocID=$DocID npm run test:e2e

      - save_cache:
          paths:
            - node_modules
          key: npm-dependency-cache-{{ checksum "package.json" }}

      - store_artifacts:
          path: test/e2e/__artifacts__
          destination: e2e

