.root {
  position: relative;
  height: 100%;
}

.app {
  position: relative;
  background-color: #f2f2f2;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hub, .connect {
  flex-direction: column;
}

.hub li {
  font-size: 20px;
}

.logo-svg {
  height: 200px;
  animation: fade 1s ease-in;
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
