.dimension-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  user-select: none;

  .dimension-item {
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 0.4em;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.5em;
    min-width: 22rem;
    padding: 1em;
  }
}
