.field {
  height:5em;
  align-items: center;
  font-size: 1rem;
  padding: 2px;
  position: relative;
  cursor: pointer;
  border-radius: 0.3em;
  box-sizing: border-box;
}

.field.filtered {
  font-style: italic;
}

.field .name,
.field .gwg {
  font-size: 1.5em;
  display: flex;
  flex: 1 1;
  color: #4b4b4b;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.field .name {
  overflow: hidden;
  white-space: pre;
  display: inline-block;
  font-size: 1.5em;
}

.field.NOT_KEY {
  background-color: lightgrey;
}

.field .gwg {
  display: flex;
  min-width: 100px;
  height: 16px;
  justify-content: space-between;
  background: #fff;
}

.field .gwg .green {
  background-color: #019b39;
}

.field .gwg .grey {
  background: rgb(210, 210, 210);
}

.field .gwg .bartext {
  font-size: 1em;
  position: absolute;
  right: 1em;
}
