$perfect-key-color: #CCEEFF;
$primary-key-color: #CCFFCC;
$foreign-key-color: #FFDDBB;
.field2 {
  align-items: center;
  padding: 2px;
  position: relative;
  cursor: pointer;
}

.field2.filtered {
  /*background-image: linear-gradient(to top, rgba(0, 255, 0, 0.1), rgba(0, 255, 0, 0.1));
  background-color: #fff;*/
  font-style: italic;
}

.field2 .name,
.field2 .gwg {
  display: flex;
  flex: 1 1;
  margin: 0 0px;
  color: black
}

.field2 .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  display: inline-block;
  font-size: 12px;
}



.field2.PERFECT_KEY {
  background-color: $perfect-key-color;
}
.field2.PRIMARY_KEY {
  background-color: $primary-key-color;
}
.field2.ANY_KEY {
  background-color: $foreign-key-color;

}
.field2.NOT_KEY {
  background-color:lightgrey;
}
.field2.has-duplicates {

}

.field2.has-null {

}

.field2 .sub {
  position: absolute;
  top: 55px;
  left: 60px;
}



.field2 .gwg {
  display: flex;
  min-width: 100px;
  height: 16px;

  justify-content: space-between;
  background: #fff;
}

.field2 .gwg .green {
  background-color: #019b39;
}

.field2 .gwg .grey {
  background: rgb(210, 210, 210);
}

.field2 .gwg .bartext {
  font-size: 10px;
  position: absolute;
  right: 8px;
}
