.filterbox {
  position: relative;

  font-size: 1.5rem;
  user-select: none;
  background: #fff;
  box-sizing: border-box;
  color: #333;
}


/*.filterbox .header {
}*/

.filterbox .item {
  cursor: pointer;
}

.filterbox .state-S {
  background: #019b39;
  color: white;
}

.filterbox .state-X {
  background: rgba(210, 210, 210, 0.8);
}

.made-selections .state-X {
  background: white;
  color: #333;
}

.filterbox .search {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
  height: 2em;
  box-sizing: border-box;
  border: 0;
  background: none;
  font-size: 1.5rem;
  border-top: 1px solid rgb(201, 201, 201);
}

.filterbox .virtualtable {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 2em;
  bottom: 0;

  font-size: 1.5rem;
}

.filterbox {
  outline: none;
}
.filterbox .search {
  outline: none;
}
.filterbox .virtualtable .ReactVirtualized__Table__row {
  outline: none;
}

.filterbox .virtualtable .ReactVirtualized__Table__Column:first-of-type {
  margin-left: 0;
}
