.guide-step {
  margin-top: 1em;
  text-align: left;

  div,
  p {
    display: inline-block;
  }

  div {
    height: 10px;
    margin-right: 5px;
    width: 30px;
  }

  p {
    margin: 0;
  }
}

.perfect {
  border: solid 2px #398ab5;
}

.primary {
  border: solid 2px #00993f;
}

.default {
  border: solid 2px #f29600;
}
