.measure-list {
  position: relative;
  user-select: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.measure-list .measure-item {
  min-width: 22rem;
  background: #fff;
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 0.4em;
  box-sizing: border-box;
  padding: 1em;
  border: 1px solid #d9d9d9;
}


/*.filterbox .header {
}*/

.filterbox .item {
  cursor: pointer;
}
