$tableBackground: #4b4b4b;
$gridBackground: #4b4b4b;
$assocborder: #999;

.model {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  background-color: $gridBackground;
}


.model .betweener {
  position: relative;
  height: 5em;
}

.model .tableheader {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  cursor: crosshair;
}

.vertcell {
  height: 5em;
  box-sizing: border-box;
  position: relative;
  margin: 1em 0;
}
.keycell {
  height: 5em;
  margin: 1em 0;
  box-sizing: border-box;
}
.insideTable {
  height:5em;
  margin: 1em 0;
  box-sizing: border-box;
}


.model .association-to-right {
  z-index: 1000;
  position: absolute;
  top: 1em;
  right: -1em;
  width: 1em;
}
.model .association-to-right-a {
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  background-color: $tableBackground;
  border-bottom-left-radius: 1.5em;
}
.model .association-to-right-b {
  box-sizing: border-box;
  width: 1em;
  height: 1em;

}
.model .association-to-right-c {
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  border-top-left-radius: 1.5em;
  background-color: $tableBackground;
}
.model .association-to-left {
  box-sizing: border-box;
  z-index: 1000;
  position: absolute;
  top: 1em;
  left: -1em;
  width: 1em;
}
.model .association-to-left-a {
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  background-color: $tableBackground;
  border-bottom-right-radius: 1.5em;
}
.model .association-to-left-b {
  box-sizing: border-box;
  width: 1em;
  height: 1em;

}
.model .association-to-left-c {
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  border-top-right-radius: 1.5em;
  background-color: $tableBackground;
}

.model .association-to-left:nth-child(0) {
  border: 1px solid red;
}

.model .association-to-left:nth-child(0) {
  border: 1px solid red;
}

.model .betweener .lineyinner {
  z-index: 1000;
  position: absolute;
  top: 2em;
  bottom: 2em;

  left: -1em;
  right: -1em;
}

.model .betweener.insideTable {
  background-color: $tableBackground;
}

.model .colset {
  justify-self: auto;
  display: flex;
  overflow: scroll;
  justify-content: flex-start;
  align-items: flex-start;
}

.model .colset .column {
  margin: 1em;
}

.model .listboxcolset {
  position: relative;
  justify-self: flex-end;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  flex-shrink: 0;

}

.model .listboxcolumn {

}

.model .closer {
  cursor: pointer;
}



.model .tableAtPlay .tableheader {
  background-color: lightyellow;
  color: black;

}


.notKeyAtPlay  {
  opacity: 0.5
}
.model .tableAtPlay .insideTable {
  background-color: #DCA;
}
.model .notTableAtPlay .insideTable {
  background-color: $tableBackground;
}
.notTableAtPlay .tableheader {
  opacity: 50%
}
