$tableBackground: #f2f2f2;
$gridBackground: #f2f2f2;
$evenColumnBackground: #f6f6f6;
$assocborder: #999;

.model {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  background-color: $gridBackground;
}

.model .betweener {
  position: relative;
  height: 7em;
}

.model .tableheader {
  min-height: 5em;
  height: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #404040;
  cursor: pointer;
  .nbr-of-rows{
    font-weight: 400;
  }
}

.vertcell {
  height: 7em;
  box-sizing: border-box;
  position: relative;
  margin: 1em 0;
}
.keycell {
  height: 7em;
  margin: 1em 0;
  box-sizing: border-box;
}
.insideTable {
  height:7em;
  margin: 1em 0;
  box-sizing: border-box;
}


.model .association-to-right {
  z-index: 0;
  position: absolute;
  top: 2.5em;
  right: -1em;
  width: 1em;
}
.model .association-to-right-a {
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  background-color: $tableBackground;
  border-bottom-left-radius: 1.5em;
}
.model .association-to-right-b {
  box-sizing: border-box;
  width: 3.5em;
  height: .5em;

}
.model .association-to-right-c {
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  border-top-left-radius: 1.5em;
  background-color: $tableBackground;
}
.model .association-to-left {
  box-sizing: border-box;
  z-index: 0;
  position: absolute;
  top: 2.5em;
  left: -1em;
  width: 1em;
}
.model .association-to-left-a {
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  background-color: $tableBackground;
  border-bottom-right-radius: 1.5em;
}
.model .association-to-left-b {
  box-sizing: border-box;
  width: 3.5em;
  height: .5em;
  transform: translateX(-2.5em);
}
.model .association-to-left-c {
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  border-top-right-radius: 1.5em;
  background-color: $tableBackground;
}

.model .association-to-left:nth-child(0) {
  border: 1px solid red;
}

.model .association-to-left:nth-child(0) {
  border: 1px solid red;
}

.model .betweener .lineyinner {
  z-index: 1000;
  position: absolute;
  top: 3.5em;
  bottom: 3em;

  left: -3.5em;
  right: -3.5em;
}

.model .betweener.insideTable {
  background-color: $tableBackground;
}

.model .colset {
  justify-self: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.model .colset .column {
  box-sizing: border-box;
  padding: 3.5em;
  
}
.model .colset .column:nth-child(even) {
  background-color: $evenColumnBackground;
  .association-to-left {
    &-a,
    &-c {
      background-color: $evenColumnBackground;
    }
  }
  .association-to-right {
    &-a,
    &-c {
      background-color: $evenColumnBackground;
    }
  }
  .betweener.insideTable {
    background-color: $evenColumnBackground;
  }
}

.model .tableAtPlay .tableheader {
  color: #00b14e;
  text-decoration: #00b14e underline;
  
}


.model .listboxcolset {
  position: relative;
  justify-self: flex-end;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  flex-shrink: 0;

}

.model .listboxcolumn {
  font-size: 1.5em;
}

.model .closer {
  cursor: pointer;
}



.notKeyAtPlay  {
  opacity: 0.5
}
.model .tableAtPlay .insideTable {
  background-color: $tableBackground;
}
.model .notTableAtPlay .insideTable {
  background-color: $tableBackground;
}
.notTableAtPlay .tableheader {
  opacity: 50%
}
