.selections {
  font-size: 1.5rem;
  position:relative;
  align-self:flex-start;
  background: rgb(241, 241, 241);
  border-bottom: 1px solid rgb(205, 205, 205);
  display: flex;
  overflow: auto;
  flex-shrink: 0;
}

.selections li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px 12px;
  width: 120px;
  background: rgb(250, 250, 250);
  border-right: 1px solid rgb(215, 215, 215);
  box-sizing: border-box;
}

.selections strong {
  width: 100%;
  display: block;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selections .clear {
  width: 48px;
  background: #fff;
  cursor: pointer;
}

.selections .none {
  align-self: center;
  height: 100%;
}

.selections .gwg {
  display: flex;
  min-width: 100px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 3px;
  justify-content: space-between;
  background: #fff;
  margin-top: 6px;
  height: 6px;
}


.selections .gwg .green {
  background: #019b39;
}

.selections .gwg .grey {
  background: rgb(210, 210, 210);
}
