.selections {
  display: flex;
  flex-grow: 2;
  flex-shrink: 0;

  li {
    align-items: center;
    background: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    justify-content: center;
  }

  .clear {
    background: #fff;
    border-right: 1px solid #d9d9d9;
    cursor: pointer;
    padding: none;
    width: 5em;
  }

  .none {
    align-self: center;
    height: 100%;
    padding: 1em;
  }
}
