.tooltip {
  font-size: 1.5rem;
  max-width: 30rem;
}

.tooltip th {
  text-align: left;
}

.perfect-key {
  color: #398ab5;
}

.primary-key {
  color: #00993f;
}

.foreign-key {
  color: #f29600;
}

h3 {
  display: inline;
}

