.topbar {
  width: 100%;
  font-size: 1rem;
  height: 6em;
  position:relative;
  align-self:flex-start;
  background: #fff;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  overflow: auto;
  flex-shrink: 0;

  .reloaded {
    font-size: 1.5em;
    align-self: flex-end;
    padding-right: 1em;
  }

  .topbarLogo, .topbarLogo .SVGInline {
    display: flex;
  }

  .topbarLogo .logo-svg {
    height: 5em;
    animation: unset;
    align-self: flex-end;
  }
}
