html,
body {
  color: rgb(110, 110, 110);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 8px;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.center-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
