html,
body {
  margin: 0;
  padding: 0;
  font-size: 8px;
  color: rgb(110, 110, 110);
  font-family: 'Source Sans Pro', sans-serif;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.error, .doc-list, .connect {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
